server {
    listen 80;
    listen [::]:80;
    server_name contest.example.com;
    location ^~ /.well-known/acme-challenge/ {
        root /www/wwwroot/contest.example.com;
        allow all;
        default_type text/plain;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}
